{{ define "content" }}
<div class="application-main">
  {{ if and .IsSection (ne .Section "posts") (ne .Section "tags") }}
    {{ $summitPage := .Site.GetPage (printf "/%s/summit" .Section) }}
    {{ if $summitPage }}
      <meta http-equiv="refresh" content="0; url={{ $summitPage.RelPermalink }}">
      <script>
        window.location.replace('{{ $summitPage.RelPermalink }}');
      </script>
      <p>
        Redirecting to
        <a href="{{ $summitPage.RelPermalink }}">Summit</a>...
      </p>
    {{ else }}
      {{ partial "user-profile.html" . }}
      {{ partial "posts.html" .}}
    {{ end }}
  {{ else }}
    {{ partial "user-profile.html" . }}
    {{ partial "posts.html" .}}
  {{ end }}
</div>
{{ end }}
