<div style="position: relative">
  <header class="Header js-details-container Details px-3 px-md-4 px-lg-5 flex-wrap flex-md-nowrap open Details--on">
    <div class="Header-item d-none d-md-flex flex-items-center header-nav-items">
      <div class="Header-item">
        <a class="Header-link" href="{{ .Site.BaseURL }}" aria-label="Home">~</a>
      </div>
      {{ partial "header-summit-dropdowns" . }}
      <div class="Header-item">
        <a class="Header-link" href="{{ urls.JoinPath .Site.BaseURL "imprint" }}">Imprint</a>
      </div>
    </div>
    <div id="header-search"
      class="Header-item Header-item--full flex-column flex-md-row width-full flex-order-2 flex-md-order-none mr-0 mr-md-3 mt-3 mt-md-0 Details-content--hidden-not-important d-none d-md-flex">
      <div
        class="Header-search header-search flex-auto js-site-search position-relative flex-self-stretch flex-md-self-auto mb-3 mb-md-0 mr-0 mr-md-3 scoped-search site-scoped-search js-jump-to">
        <div class="position-relative">
          {{ if .Site.Params.enableSearch }}
          <form target="_blank" id="search-form" action="" accept-charset="UTF-8" method="get"
            autocomplete="off">
            <label
              class="Header-search-label form-control input-sm header-search-wrapper p-0 js-chromeless-input-container header-search-wrapper-jump-to position-relative d-flex flex-justify-between flex-items-center">
              <input type="text"
                class="Header-search-input form-control input-sm header-search-input jump-to-field js-jump-to-field js-site-search-focus js-site-search-field is-clearable"
                name="q" value="" placeholder="Search" autocomplete="off">
            </label>
          </form>
          {{ else }}
          <form target="_blank" action="https://www.google.com/search" accept-charset="UTF-8" method="get"
            autocomplete="off">
            <label
              class="Header-search-label form-control input-sm header-search-wrapper p-0 js-chromeless-input-container header-search-wrapper-jump-to position-relative d-flex flex-justify-between flex-items-center">
              <input type="text"
                class="Header-search-input form-control input-sm header-search-input jump-to-field js-jump-to-field js-site-search-focus js-site-search-field is-clearable"
                name="q" value="" placeholder="Search" autocomplete="off">
              <input type="hidden" name="q" value="site:{{ .Site.BaseURL }}">
            </label>
          </form>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="Header-item d-none d-md-flex flex-items-center" style="margin-right: 0;">
      {{ partial "theme-toggle-link" . }}
    </div>

    <div class="Header-item Header-item--full d-md-none header-mobile-summit-row">
      <div class="d-flex flex-items-center flex-justify-center flex-wrap width-full header-mobile-summit-row-inner">
        {{ partial "header-summit-dropdowns" . }}
        <div class="Header-item">
          <a class="Header-link" href="{{ urls.JoinPath .Site.BaseURL "imprint" }}">Imprint</a>
        </div>
        <div class="Header-item">
          {{ partial "theme-toggle-link" . }}
        </div>
      </div>
    </div>
  </header>
</div>
